*{
    margin: 0;
    padding: 0;
}



.deal-flex-1{
    justify-content: space-between;
   align-items: center;
}

.cards flex flex-1{
    
    justify-content: space-between;
    align-items: center;

}
.avatar flex flex-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}